services:
  traefik:
    image: "traefik:v3.4"
    container_name: "traefik"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - app_network
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=app_network"
      - "--entryPoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  data-service:
    image: siaidziwaik/data-scraper-service:latest
    build: ./services/data-scraper-service
    container_name: data-scraper-service
    networks:
      - app_network
    env_file:
      - ./services/data-scraper-service/.env
    labels:
      traefik.enable: "true"
      traefik.http.routers.scrapers-v1.rule: "PathPrefix(`/scrapers/api/v1`) && Header(`api-key`, `${VM_SECRET}`)"
      traefik.http.routers.scrapers-v1.entrypoints: "web"
      traefik.http.middlewares.scrapers-v1-strip.stripprefix.prefixes: "/scrapers/api/v1"
      traefik.http.routers.scrapers-v1.middlewares: "scrapers-v1-strip"
      traefik.http.services.scrapers-svc.loadbalancer.server.port: "8082"

  agent-service:
    image: siaidziwaik/agent-service:latest
    build: ./services/agent-service
    container_name: agent-service
    networks:
      - app_network
    env_file:
      - ./services/agent-service/.env
    labels:
      traefik.enable: "true"
      traefik.http.routers.llmagent-v1.rule: "PathPrefix(`/agent/api/v1`) && Header(`api-key`, `${VM_SECRET}`)"
      traefik.http.routers.llmagent-v1.entrypoints: "web"
      traefik.http.middlewares.llmagent-v1-strip.stripprefix.prefixes: "/agent/api/v1"
      traefik.http.routers.llmagent-v1.middlewares: "llmagent-v1-strip"
      traefik.http.services.llmagent-svc.loadbalancer.server.port: "8083"

  scheduler:
    image: siaidziwaik/scheduler:latest
    build: ./services/scheduler
    restart: always
    environment:
      - SCRAPER_URL=http://data-service:8082/articles
      - AGENT_URL=http://agent-service:8083/daily_summary
    networks:
      - app_network

  db:
    image: postgres:15-alpine
    container_name: local_postgres_db
    restart: always
    profiles: ["local"]
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=media_trends_db
    ports:
      - "5432:5432"
    networks:
      - app_network
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database:/docker-entrypoint-initdb.d

networks:
  app_network:
    name: app_network

volumes:
  postgres_data:
