services:
  backend:
    build: ./server
    container_name: fastapi_app
    ports:
      - "8080:8080"
    env_file:
      - ./server/.env
    depends_on:
      - postgres
    networks:
      - app_network

  postgres:
    image: postgres:16
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/trend_analyzer_data
    networks:
      - app_network

  # frontend:
  #   build: ./client
  #   container_name: client
  #   ports:
  #     - "5001:5001"
  #   networks:
  #     - app_network

networks:
  app_network:


volumes:
  postgres_data:


